<div class="row" >
    <div class="col-4">
        <mat-card class="example-card mb-4" *ngFor="let item of TTS">
                <!-- <div class=visibility: hidden>{{onEdit(item, IR)}}</div> -->
                <mat-card-title class="Slot">Current Slot {{IR}}/64 </mat-card-title>
        </mat-card>
    </div>
</div>

<mat-accordion>
    <!-- <mat-expansion-panel hideToggle *ngFor="let item of itemS"> -->
    <mat-expansion-panel *ngFor="let item of itemS">
        <mat-expansion-panel-header>
            <mat-panel-title>
                ช่องจอดรถยนต์ {{ item.id }}
            </mat-panel-title>
            <mat-panel-description *ngIf="item.num ==0">
                สถานะช่องจอดรถ : <P class="Empty">ว่าง</P>
            </mat-panel-description>
            <mat-panel-description *ngIf="item.num ==1">
                สถานะช่องจอดรถ : <P class="NEmpty">ไม่ว่าง</P>
                <div class=visibility: hidden>{{getCount(1)}}</div>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>

