<mat-card>
    <mat-card-title>
        <mat-icon>view_list</mat-icon> List of Products
    </mat-card-title>

    <mat-card-content>
        <div class="row">
            <div class="col-lg-4">
                <button routerLink="/cloud-firestore/create" mat-raised-button color="primary" class="w-50">
                    <mat-icon>add</mat-icon> Add new product
                </button>
            </div>

            <div class="col-lg-8 text-right">
                <mat-form-field class="w-25">
                    <mat-label>Search column</mat-label>
                    <mat-select [ngModel]="search.column" (ngModelChange)="onChangeSearchColumn($event)">
                        <mat-option value="name">By Name</mat-option>
                        <mat-option value="qty">By Qty</mat-option>
                        <mat-option value="unit">By Unit</mat-option>
                        <mat-option value="price">By Price</mat-option>
                        <mat-option value="created">By Created</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Search data</mat-label>
                    <input type="text" matInput #input (input)="onInputSeachData(input.value)">
                </mat-form-field>
                <button type="button" mat-icon-button class="text-muted" (click)="onSearch()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>

        <div class="table-scrolling" (scroll)="onScrollLoadData($event)">
            <table matSort mat-table [dataSource]="productItems" class="w-100" (matSortChange)="onSortData($event)">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element"> {{ element.index }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product name
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="qty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product qty
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.qty | number }} </td>
                </ng-container>

                <ng-container matColumnDef="unit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product unit
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.unit }} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product price
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.price | number : '1.2-2' }} </td>
                </ng-container>

                <ng-container matColumnDef="created">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Product created
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.created.toDate() | date : 'medium' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th class="text-right" mat-header-cell *matHeaderCellDef> Action </th>
                    <td class="text-right" mat-cell *matCellDef="let element">
                        <button (click)="onGoToUpdate(element)" type="button" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button (click)="onDeleteProduct(element)" type="button" mat-icon-button color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>