<div class="row mt-4" *ngIf="userLogin">
    <div class="col-lg-6 offset-lg-3">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon class="account-icon">account_circle</mat-icon>
                </div>
                <mat-card-title>
                    Personal Information
                </mat-card-title>
                <mat-card-subtitle>
                    Login by {{ userLogin.email }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>User Creation time : {{ userLogin.metadata.creationTime }}</p>
                <p>Last Sign In time : {{ userLogin.metadata.lastSignInTime }}</p>

                <div class="text-right mt-4">
                    <span class="text-success d-inline-block mr-3" *ngIf="userLogin.emailVerified">
                        <mat-icon>privacy_tip</mat-icon> Email verified
                    </span>

                    <a (click)="onVerifyEmail()" class="text-warning d-inline-block mr-3"
                        *ngIf="!userLogin.emailVerified">
                        <mat-icon>privacy_tip</mat-icon> Verify email
                    </a>

                    <button (click)="onSignout()" mat-raised-button color="primary">
                        <mat-icon>lock</mat-icon> Sign out
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>